<mat-card class="example-card">
<mat-card-header>
    <mat-card-title class="titulo">Usuarios Totales</mat-card-title>
    <mat-card-subtitle class="subtitulo">Usuarios</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">group</mat-icon>
        Todos
      </ng-template>
      <mat-table #table [dataSource]="listadoDeUsuarios">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
              <img [src]="mydata">
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.fullname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columsToDisplay;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">directions_bike</mat-icon>
        Bikers
      </ng-template>
      <mat-table #table [dataSource]="listadoDeUsuariosBikers">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
              <img [src]="mydata">
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.fullname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columsToDisplay;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">close</mat-icon>
          Sin Validar
            </ng-template>
  
            <mat-table #table [dataSource]="listadoDeUsuariosNoValidados">
              <ng-container matColumnDef="avatar">
                <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
                <mat-cell *matCellDef="let usuario">
                    <img [src]="mydata">
                    </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let usuario"> {{usuario.fullname}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columsToDisplay;"></mat-row>
      
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">check</mat-icon>
        Validados
      </ng-template>

      <mat-table #table [dataSource]="listadoDeUsuariosValidados">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
              <img [src]="mydata">
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.fullname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columsToDisplay;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-tab>
  </mat-tab-group>
    </mat-card-content>
</mat-card>

