<div class="overlay"  *ngIf="mostrarSpinner" >
<div class="center">
  <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
  </div>
</div>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title class="titulo">Usuarios Totales</mat-card-title>
    <mat-card-subtitle class="subtitulo">Usuarios</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-tab-group #tabGroup (selectedIndexChange)="_setDataSource($event)" >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">group</mat-icon>
        Todos
      </ng-template>
      <mat-table #table [dataSource]="listadoDeUsuarios">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
              <img [src]="mydata"> 
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.fullname}} </mat-cell>
        </ng-container>
        

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell class="stilo" *matCellDef="let usuario" > {{usuario.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let usuario; columns: columsToDisplay;"
        [routerLink]="['/usuarios/usuario/',usuario._id]"
        ></mat-row>

      </mat-table>
      <mat-paginator #paginatorUsuarios [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">directions_bike</mat-icon>
        Bikers
      </ng-template>
      <mat-table #table [dataSource]="listadoDeUsuariosBikers">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
          <mat-cell *matCellDef="let biker">
              <img [src]="mydata">
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let biker"> {{biker.fullname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let biker"> {{biker.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let usuario; columns: columsToDisplay;"
        [routerLink]="['/usuarios/usuario/',usuario._id]"
        ></mat-row>

      </mat-table>
      <mat-paginator #paginatorbikers [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">close</mat-icon>
          Sin Validar
            </ng-template>
  
            <mat-table #table [dataSource]="listadoDeUsuariosNoValidados">
              <ng-container matColumnDef="avatar">
                <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
                <mat-cell *matCellDef="let usuarioSinValidar">
                    <img [src]="mydata">
                    </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let usuarioSinValidar"> {{usuarioSinValidar.fullname}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let usuarioSinValidar"> {{usuarioSinValidar.email}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="validar">
                <mat-header-cell *matHeaderCellDef> Validar </mat-header-cell>
                <mat-cell *matCellDef="let usuarioSinValidar"> 
                  <button mat-flat-button color="primary" (click)="botonValidar(usuarioSinValidar)">Validar</button>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="columsToDisplayV"></mat-header-row>
              <mat-row *matRowDef="let usuario; columns: columsToDisplayV;"
              [routerLink]="['/usuarios/usuario/',usuario._id]"
              ></mat-row>
      
            </mat-table>
            <mat-paginator #paginatorSinValidar [pageSizeOptions]="[5, 10, 20]"
            [pageIndex]="pageIndexInhabilitado"
            showFirstLastButtons></mat-paginator>
              </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">check</mat-icon>
        Validados
      </ng-template>

      <mat-table #table [dataSource]="listadoDeUsuariosValidados">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef> avatar </mat-header-cell>
          <mat-cell *matCellDef="let usuarioValidado">
              <img [src]="mydata">
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let usuarioValidado"> {{usuarioValidado.fullname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let usuarioValidado"> {{usuarioValidado.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="validar">
          <mat-header-cell *matHeaderCellDef> Inhabilitar </mat-header-cell>
          <mat-cell *matCellDef="let usuarioValidado"> 
            <button mat-flat-button color="primary" (click)="botonValidar(usuarioValidado)">Inhabilitar</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplayV"></mat-header-row>
        <mat-row *matRowDef="let usuario; columns: columsToDisplayV;"
        [routerLink]="['/usuarios/usuario/',usuario._id]"
        ></mat-row>

      </mat-table>
      <mat-paginator #paginatorValidados [pageSizeOptions]="[5, 10, 20]" 
      [pageIndex]="pageIndexValidados"
      showFirstLastButtons></mat-paginator>
        </mat-tab>
  </mat-tab-group>
    </mat-card-content>
</mat-card>

