table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.titulo{
    font-size: 18pt !important;
    margin: 16px 0px;
}
.subtitulo{
    font-size: 14pt !important;
}
.example-tab-icon {
  margin-right: 8px;
}